<div class="main">
  <div class="inner">
    <div class="form__top">
      <div class="form__wrapper">
        <h2 class="page-heading">プロフィール編集</h2>
          <%= form_with model: current_user, local: true do |f| %>

          <div class="image-list-user" id="image-list"></div>
          <div class="field">
            <%= f.label :image, "プロフィール画像" %><br />
            <%= f.file_field :image %>
          </div>

          <div class="field">
            <%= f.label :nickname, "ユーザー名" %><br />
            <%= f.text_field :nickname %>
          </div>

          <div class="field">
            <%= f.label :profile, "プロフィール" %><br />
            <%= f.text_area :profile, class: :form__text %>
          </div>

          <div class="actions">
            <%= f.submit "更新する", class: :form__btn  %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>