<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <%= form_with(url: search_users_path, local: true, method: :get, class: "search-form2") do |form| %>
      <%= form.text_field :keyword, placeholder: "ニックネーム", class: "search-input2" %>
      <%= form.submit "検索", class: "search-btn2" %>
      <% end %>
        <h2 class="follow_list">検索結果</h2>
        <% @users.each do |user| %>
          <%= link_to(user_path(user), class: :fol_card) do %>
            <div class="link_box">
                <% if user.image.attached?%>
                  <%= image_tag user.image, class: :avt__card %>
                <% else %>
                  <%= image_tag "no_image_square.jpg", class: :avt__card %>
                <% end %>
                <h2 class="fol_name"><%= user.nickname %></h2>
                <%# <% if current_user != user %>
                    <%# <% if user.followed_by?(current_user) %>
                    <%# <p><%=link_to "フォロー済み", user_relationships_path(user.id), method: :delete %></p>
                    <%# <% else %>
                    <%# <p><%=link_to "フォローする", user_relationships_path(user.id), method: :post %></p>
                    <%# <% end %>
                <%# <% end %>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>
</div>