<div class="index_header">
  <div class="bg-mask">
    <div class="head_message">
      <h1>楽曲を投稿してみよう！</h1>
    </div>
    <div class="easy_login">
      <% if user_signed_in? %>
        <h2><%= "こんにちは、#{current_user.nickname}さん。"%></h2>
        <div class="actions">
            <%= link_to "投稿する", new_music_path, class: :easy__btn %>
        </div>
      <% else %>
        <h2>ゲストユーザーはこちらから</h2>
        <div class="actions">
            <%= link_to "かんたんログイン", users_guest_sign_in_path, method: :post, class: :easy__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<main class="main">
  <div class="inner">
    <h1 class="music_column">ー 投稿一覧 ー</h1>
    <%= form_with(url: search_users_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "ユーザー検索", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <%= form_with(url: search_musics_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder: "楽曲検索", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    <div class="card__wrapper">
      <%= render partial: 'music', collection: @musics %>
    </div>
  </div>
</main>
